*{
  
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    
    width: 100%;
    height: 700px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr ;
    
}
main{
    grid-column: 1/4  
}
main{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  150px 150px 150px   ;
}
article{
    border: 1px solid black;
    background-color: lightseagreen;
    grid-column: 1/3;
    grid-row: 1/4;
}
aside{
    background-color: lightgreen;
    border: 1px solid black;
    grid-column: 3/4;
    grid-row: 1/4;
}
header{
    background-color: bisque;
    border: 1px solid black;
    grid-column: 1/4;
}
footer{
    background-color: gold;
    grid-column: 1/4;
    border: 1px solid black;

}
header, footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}
.navegador{
    grid-column: 2/4;
}
.enlaces, form{
    margin-left:70px ;  
    display: inline-block;
    margin-top: 50px;
}
h1{
    font-size: 50px;
    margin-left: 30px;
    
    
}
